/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 3, 2024, 9:15:33 PM
    Author     : Acer
*/
.login_button{
    width: 600px;
    height: 50px;
    justify-items: center;
    text-align: center;
}
.footer-text{
   font-size: 20px;
   margin-bottom: 10px;
   font-weight: bold;
  }
  #Shoptext{
      text-align: center;
      color: white;
       padding-top: 20px;
       padding-bottom: 20px;
  }
  .Shoptext1{
     font-size: 28px;
     font-weight: bold
  }
  .Shoptext2{
      font-size: 20px;
      font-weight: bold
  }
  #linkfooter{
    text-decoration: none;
    color: white;
}
  #BackToLogin{
    text-decoration: none;
    font-weight: bold
}

